.s-radio {
    color: #606266;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    outline: none;
    font-size: 14px;
    user-select: none;
    margin-right: 32px;
    height: 32px
}

.s-radio.s-radio--large {
    height: 40px
}

.s-radio.s-radio--small {
    height: 24px
}

.s-radio.is-bordered {
    padding: 0 15px 0 9px;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box
}

.s-radio.is-bordered.is-checked {
    border-color: #409eff
}

.s-radio.is-bordered.is-disabled {
    cursor: not-allowed;
    border-color: #ebeef5
}

.s-radio.is-bordered.s-radio--large {
    padding: 0 19px 0 11px;
    border-radius: 4px
}

.s-radio.is-bordered.s-radio--large .s-radio__label {
    font-size: 14px
}

.s-radio.is-bordered.s-radio--large .s-radio__inner {
    height: 14px;
    width: 14px
}

.s-radio.is-bordered.s-radio--small {
    padding: 0 11px 0 7px;
    border-radius: 4px
}

.s-radio.is-bordered.s-radio--small .s-radio__label {
    font-size: 12px
}

.s-radio.is-bordered.s-radio--small .s-radio__inner {
    height: 12px;
    width: 12px
}

.s-radio:last-child {
    margin-right: 0
}

.s-radio__input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    position: relative;
    vertical-align: middle
}

.s-radio__input.is-disabled .s-radio__inner {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    cursor: not-allowed
}

.s-radio__input.is-disabled .s-radio__inner:after {
    cursor: not-allowed;
    background-color: #f5f7fa
}

.s-radio__input.is-disabled .s-radio__inner+.s-radio__label {
    cursor: not-allowed
}

.s-radio__input.is-disabled.is-checked .s-radio__inner {
    background-color: #f5f7fa;
    border-color: #e4e7ed
}

.s-radio__input.is-disabled.is-checked .s-radio__inner:after {
    background-color: #a8abb2
}

.s-radio__input.is-disabled+span.s-radio__label {
    color: #a8abb2;
    cursor: not-allowed
}

.s-radio__input.is-checked .s-radio__inner {
    border-color: #409eff;
    background: #409eff
}

.s-radio__input.is-checked .s-radio__inner:after {
    transform: translate(-50%,-50%) scale(1)
}

.s-radio__input.is-checked+.s-radio__label {
    color: #409eff
}

.s-radio__input.is-focus .s-radio__inner {
    border-color: #409eff
}

.s-radio__inner {
    border: 1px solid #dcdfe6;
    border-radius: 100%;
    width: 14px;
    height:14px;
    background-color: #ffffff;
    position: relative;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box
}

.s-radio__inner:hover {
    border-color: #409eff
}

.s-radio__inner:after {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #ffffff;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform .15s ease-in
}

.s-radio__original {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0
}

.s-radio__original:focus-visible+.s-radio__inner {
    outline: 2px solid #409eff;
    outline-offset: 1px;
    border-radius: 100%
}

.s-radio:focus:not(:focus-visible):not(.is-focus):not(:active):not(.is-disabled) .s-radio__inner {
    box-shadow: 0 0 2px 2px #409eff
}

.s-radio__label {
    font-size: 14px;
    padding-left: 8px
}

.s-radio.s-radio--large .s-radio__label {
    font-size: 14px
}

.s-radio.s-radio--large .s-radio__inner {
    width: 14px;
    height: 14px
}

.s-radio.s-radio--small .s-radio__label {
    font-size: 12px
}

.s-radio.s-radio--small .s-radio__inner {
    width: 12px;
    height: 12px
}